*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    width: 80%;
    /* margin: auto */
}

.checked {
    color: orange;
  }

form{
    border-style: outset;
    border-radius: 25px;
    padding: 10px;
}

map{
    height: 25%;
    width: 25%;
}

table,td,tr{
    border: 1px solid black;
}

/* image{
    height: auto; width: 75%;
} */

/* .center_map{
    text-align: center;
} */